{% extends 'base.html' %}

{% block content %}
<header>
  <h1>Primer MVT</h1>

  <nav>
    <a href="{% url 'people' %}">Volver</a>
  </nav>
</header>

<h3>Añadir nueva persona</h3>

{% if message %}
  <b>{{ message }}</b>
{% endif %}

<form method="POST">
  {% csrf_token %}
  <label for="name">Nombre</label>
  <input type="text" name="name" placeholder="Juan Perez" required />

  <label for="born">Nacimiento</label>
  <input type="date" name="born" min="1000-01-01" required />

  <label for="favourite_number">Numero favorito</label>
  <input type="text" name="favourite_number" placeholder="42" required />

  <label for="relationship">Parentezco</label>
  <input type="text" name="relationship" placeholder="Desconocido" />

  <input type="submit" value="Guardar" />
</form>

<script>
  console.log({ postObject: "{{postObject}}" });
</script>
{% endblock %}