{% extends 'base.html' %}

{% block title %}
| Agregar nueva persona
{% endblock %}

{% block header_title %}
<h3>Añadir nueva persona</h3>
{% endblock %}

{% block go_back %}
<a href="javascript:history.go(-1)">ATRAS</a>
{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <label for="name">Nombre</label>
    <input type="text" id="name" name="name" placeholder="Juan Perez" required />

    <label for="born">Nacimiento</label>
    <input type="date" id="born" name="born" min="1000-01-01" max="{{default_born_date}}" value="{{default_born_date}}"
        required />

    <label for="favourite_number">Numero favorito</label>
    <input type="number" id="favourite_number" name="favourite_number" placeholder="42" required />

    <label for="relationship">Parentezco</label>
    <input type="text" id="relationship" name="relationship" placeholder="Desconocido" />

    <input type="submit" value="Guardar" />
</form>

<div class="section--back">
    <a  href="{% url 'people' %}">Volver a la lista</a>
</div>

<script>
    console.log({ postObject: "{{postObject}}" });
</script>
{% endblock %}