{% extends 'base.html' %}

{% block title %}
    | Personas
{% endblock %}

{% block header_title %}
 <h3> 
     {% if q_people > 0 %}
         Mostrando {{q_people}} persona{% if q_people > 1 %}s{% endif %}
     {% else %}
         No se encontraron personas (<a href="{% url 'addPerson' %}">Agregar?</a>)
     {% endif %}
{% endblock %}

{% block go_back %}
{% endblock %}

{% block content %}
<ul>
    {% for person in people %}
    <li>
        <fieldset>
            <legend>{{ person.name }}</legend>
            <p>Nacimiento <b>{{ person.born }}</b></p>
            <p>Numero Favorito: <b>{{ person.favourite_number }}</b></p>
            <a href="{% url 'editPerson' id=person.id %}">Editar</a>
            <a href="{% url 'deletePerson' id=person.id %}">Eliminar</a>
        </fieldset>
    </li>
    {% endfor %}
</ul>
{% endblock %}