{% extends 'base.html' %}

{% block title %}
    |
    {% if person.id %}
        Eliminar Persona #{{person.id}}
    {% else %}
        Entrada eliminada
    {% endif %}
{% endblock %}

{% block header_title %}
    {% if person.id %}
        Eliminar #{{person.id}}
    {% else %}
        Entrada eliminada
    {% endif %}
{% endblock %}

{% block go_back %}
<a href="javascript:history.go(-1)">ATRAS</a>
{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <label for="name">Nombre</label>
    <input disabled id="name" type="text" name="name" placeholder="{{person.name}}" />

    <label for="born">Nacimiento</label>
    <input disabled id="born" type="date" name="born" placeholder="{{person.born}}" value="{{person.born}}" />

    <label for="favourite_number">Numero favorito</label>
    <input disabled id="favourite_number" type="text" name="favourite_number" placeholder="{{person.favourite_number}}" />

        <div>
            <label for="favourite_movie">Pelicula favorita</label>
            <select name="favourite_movie" id="favourite_movie" disabled>
                <option selected>{{ person.favourite_movie.title }}</option>
            </select>
        </div>
    
        <div>
            <label for="favourite_brand">Marca</label>
            <select name="favourite_brand" id="favourite_brand" disabled>
                <option selected>{{ person.favourite_brand.name }}</option>
            </select>
        </div>

    {% if person.id %}
        <input type="submit" value="Eliminar" />
    {% endif %}
</form>

<div class="section--back">
    <a  href="{% url 'people' %}">Volver a la lista</a>
</div>

<script>
    document.querySelector("form").addEventListener("submit", (e) => {
        e.preventDefault();
        confirm(
            "¿Estás seguro de que quieres eliminar la entrada #{{person.id}}?"
        ) && e.target.submit();
    });
</script>
{% endblock %}