{% extends 'base.html' %}

{% block title %}
| Mostrando #{{ person.id }}: {{person.name}}
{% endblock %}

{% block header_title %}
<h3>Editar: Persona #{{person.id}}</h3>
{% endblock %}


{% block go_back %}
<a href="javascript:history.go(-1)">ATRAS</a>
{% endblock %}


{% block content %}
<form method="POST" action="">
    {% csrf_token %}
    <label for="name">Nombre</label>
    <input required type="text" id="name" name="name" placeholder="{{person.name}}" value="{{person.name}}" />

    <label for="born">Nacimiento</label>
    <input required type="date" id="born" name="born"
        placeholder="{% if person.born %}Fecha anterior: {{person.born}} {% else %}2000-01-01{% endif %}"
        value="{{person.born}}" />

    <label for="favourite_number">Numero favorito</label>
    <input required type="number" id="favourite_number" name="favourite_number"
        placeholder="{% if person.favourite_number %}Numero anterior: {{person.favourite_number}} {% else %} 42{% endif %}"
        value="{{person.favourite_number}}" />

    <div>
        <label for="favourite_movie">Pelicula favorita</label>
        <select name="favourite_movie" id="favourite_movie">
            {% for movie in movies %}
            {% if movie.id == person.favourite_movie.id %}

            <option value="{{ movie.id }}" selected>{{ movie.title }}</option>
            {% else %}
            <option value="{{ movie.id }}">{{ movie.title }}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>

    <div>
        <label for="favourite_brand">Marca</label>
        <select name="favourite_brand" id="favourite_brand">
            {% for brand in brands %}
            {% if brand.id == person.favourite_brand.id %}
            <option value="{{ brand.id }}" selected>{{ brand.name }}</option>
            {% else %}
            <option value="{{ brand.id }}">{{ brand.name }}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>

    <input type="submit" value="Guardar" />
</form>

<div class="section--back">
    <a href="{% url 'people' %}">Volver a la lista</a>
</div>

{% endblock %}