{% extends 'base.html' %}

{% block title %}
| Agregar nueva marca
{% endblock %}

{% block header_title %}
<h3>Añadir nueva marca</h3>
{% endblock %}

{% block go_back %}
<a href="javascript:history.go(-1)">ATRAS</a>
{% endblock %}

{% block content %}

<form method="POST">
    {% csrf_token %}
    <label for="name">Marca</label>
    <input type="text" id="name" name="name" placeholder="BMW" required />

    <label for="segment">Segmento</label>
    <input type="text" id="segment" name="segment" placeholder="Automoviles" required />

    <input type="submit" value="Guardar" />
</form>

<div class="section--back">
    <a href="{% url 'new' %}">Añadir otros datos</a>
</div>


{% endblock %}