{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% block aditional_head %}
    {% endblock %}

    <link rel='stylesheet' type='text/css' href='{% static "styles/base.css" %}'>

    <title> MVT {% block title %}{% endblock %} </title>
</head>

<body>
    <header>
        <h1><a href="/">MVT</a></h1>
        <nav>
            <ul>
                <li class="nav_link--back">
                    {% block go_back %}{% endblock %}
                </li>
                <li>
                    <a href="{% url 'new' %}">Nuevas Opciones</a>
                </li>
                <li>
                    <a href="{% url 'people' %}">Listado personas</a>
                </li>
                <li>
                    <a href="{% url 'searchPerson' %}">Buscar personas</a>
                </li>
            </ul>
        </nav>
    </header>

    <section>
        <h1> {% block header_title %}{% endblock %} </h1>
        {% if message %}
        <i class="{% if 'Error' in message %}error{% else %}success{% endif %}-msg">{{ message }}</i>
        {% endif %}

        {% block content %}
        {% endblock %}
    </section>
</body>

</html>