<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        ul {
            display: flex;
            flex-flow: row wrap;
            gap: 0.5rem;
            padding: none;
        }

        li {
            list-style: none;
        }

        fieldset {
            text-align: center;
            border-radius: 5px;
        }

        fieldset legend {
            margin: auto;
        }

        fieldset p {
            display: flex;
            gap: 0.5rem;
            justify-content: space-between;
        }
    </style>

    <title>MVT | Mostrando {{cantidad_personas}} personas</title>
</head>

<body>
    <h1>Primer MVT</h1>
    <hr>
    <h3>Personas</h3>

    <ul>
        {% for persona in personas %}
        <li>
            <fieldset>
                <legend>{{ persona.name }}</legend>
                <p>Nacimiento <b>{{persona.born}}</b> </p>
                <p>Numero Favorito: <b>{{persona.favourite_number}}</b> </p>
                <p>Parentezco: <b>{{persona.relationship}}</b> </p>
            </fieldset>
        </li>
        {% endfor %}
    </ul>
</body>

</html>